# Web Framework
fastapi==0.112.1
uvicorn==0.30.6

# gRPC
grpcio==1.68.1
grpcio-tools==1.68.1
grpclib==0.4.7
grpc-interceptor==0.15.4
protobuf==5.29.2

# Socket.IO
python-socketio==5.11.4
python-engineio==4.9.1

# GraphQL
strawberry-graphql==0.243.0

# Serialization Formats
avro==1.11.3
cbor2==5.6.4

# HTTP Client
aiohttp==3.10.10
httpx==0.27.2

# Data Processing & Visualization
pandas==2.2.2
matplotlib==3.9.2
numpy==1.26.4
openpyxl==3.1.5

# Web Dashboard
jinja2==3.1.4

# Data Validation
pydantic==2.8.2
pydantic-settings==2.4.0

# Testing
pytest==8.3.2
pytest-grpc==0.8.0
